@model MV5CApplication.Models.BankAccount

@{
    ViewBag.Title = "Bank Account";
}

<h2>Bank Account</h2>
<section>
	<h4>Balance: @Model.Balance</h4>
	<a href="/BankAccount/Deposit" class="btn">Deposit</a>
	<a href="/BankAccount/Withdrawal" class="btn">Withdrawal</a>
</section>
